/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-feb-2017, 10.56.45
    Author     : tss
*/

b:before {
    content: "("
}
b:after {
    content: ")"
}
