/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-gen-2017, 9.43.19
    Author     : tss
*/

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}




div.title div{  display:inline ;margin-left: 60px ; background-color: white}
div.title{border: solid thin black ; text-align: center ; background-color: white ; white-space:nowrap }




div#SChome {position: relative}
div#SCpae{position:relative}
div#SCcont{position: relative}
div#SCrit{position: relative}
div#SCme{position: relative}


div#SChome:hover ul {display: block ; position:absolute ; list-style: none ; left: 0px ; top: 3px}
div#SCpae:hover ul {display:block ; position: absolute ; list-style: none ; left:0px ; top:3px}

div#SCcont:hover ul {display:block ; position: absolute ; list-style: none ; left:0px ; top:3px}
div#SCrit:hover ul {display:block ; position: absolute ; list-style: none ; left:0px ; top:3px}
div#SCme:hover ul {display:block ; position: absolute ; list-style: none ; left:0px ; top:3px}


ul {display: none ; padding-left: 0px ; }
li{width:  150px ; text-align: left ; padding-top: 2px ; padding-bottom: 2px}
 
div.titleH:hover { background-color: #99ffff }




div ul li:hover span {background-color: #99ffff}




.rr {
    background-color: #ff9999 ; 
    border: 1px solid red}
/*-------------------*/